 body {
  background-image: url('images/background-pencil.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  
}

.container {
  background-color: white;
  opacity: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.logo{
  background-color: white;
}

.no-background {
  background-image: none;
  background-color: transparent;
}

.div-header-menu{
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
}

.headerMenu {
    background-color: rgb(0, 170, 255);
    width: 800px;
    border-radius: 20px;
    
}

.headerMenu .nav-item {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    margin-right: 15px;
    font-size: 15px;
} 

.coluna-texto1 .h1-Texto-Inicial{
margin-top: 40px;
display: flex;
justify-items: flex-start;
margin-left: 80px;
margin-bottom: 40px;
}

.coluna-texto1 {
    margin-right: 30px;
    margin-bottom: 100px;
}

.h3-Texto-inicial{
    font-weight: 300;
    margin-top: 50px;
}

.RightNavBar{
    margin-top: 70px;
    margin-left: 15px;
  
}
.h2-inicial-navbar-right {
    margin-bottom: 20px;
}

.footerdiv {
    /* margin-top: 80px; */
    padding: 5px;
    width: auto;
    background-color: rgb(0, 170, 255);
    color: white;
    margin-top: 40px; 

}

.header-topo {
    background-color: rgb(0, 170, 255);
    width: 100%;
}

.fontcolorwhite {
    color: white;
    text-decoration: none;
}

.nav-link {
    color: white;
}

.colunasTexto{
    width:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.colunasVocabulario{ 
    width:auto;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 140px;
    padding: 45px;
    background-color: rgb(244, 244, 244);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;

}

.colunasGramatica{ 
  width:auto;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 140px;
  padding: 45px;
  background-color: rgb(244, 244, 244);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.h2-textos-links{
    margin-top: 50px;
    margin-left:50px ;
}

.h2-inicial-navbar-right1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.extra-pagina-de-textos{
height: 200px;
margin-bottom: 50px;
}
.margin-20-fim{
margin-bottom: 50px;
}
.h2-vocab{
    margin-top: 60px;
    margin-bottom: 20px;
}
.coluna-vocab-to-be{
 margin: 0 50px;
}
.card-obs{
  width:auto;
  justify-content: center;
  align-items: center;
  margin: 0 35px;

}
.lista-vocab{
margin-top: 60px;
margin-bottom: 80px;
}
.lista-vocab ol {
  list-style-type: decimal;
}

.texto-link {
    color: black;
}

.h5-Textos{
    font-weight: 300;
}
.h5-conversa{
  font-weight: 200;
  margin-top: 40px;
}
.div-accordion-ativididade{
    display: flex;
    width: auto;
    font-size: large;
    justify-content: center; 
    align-items: center;
    margin-bottom: 50px;
    margin-top: 80px;
}

.div-extras{

}

.Accordion {
    margin-bottom: 50px;
    border: 1px black solid;
}
.accordion-header{
    padding-left: 30px;
    padding-right: 30px;
}

.h1-questions{
    margin-bottom: 20px;
}
.no-border-accordion .accordion-item {
    border: none;
  }
  
  .no-border-accordion .accordion-button {
    border-radius: 0;
    box-shadow: none;
  }
  
  .no-border-accordion .accordion-collapse {
    border: none;
  }
  
  .no-border-accordion .accordion-body {
    border: none;
  }
  
  .questions{
    margin-top: 50px;
    margin-bottom: 110px;
  }

.Card-right-nav-bar{ 
  background-color: rgb(0, 170, 255);
  box-shadow:rgba(0, 0, 0, 0.5);
}

.borderedRow {
    border-bottom: 1px solid #000;
    padding: 5px;
  }
  .borderedRow1{
    background-color: white;
    border-bottom: 1px solid #000;
    padding: 5px;
  }
  
  .borderedCol {
    border-right: 1px solid #000;
  }
  
  .borderedCol:last-child {
    border-right: none; 
  }
  
  .borderedRow:last-child {
    border-bottom: none; 
  }
  
  .h1-titulo-da-pagina {
    margin-top: 50px;
    text-align: center;
    justify-items: center;
    align-items: center;
  }

  .header-col{ 
    font-weight: 700;
    text-align: center;
    font-size:large;
    padding: 10px;
  }

  .p-explicacao-conversa{
    font-size: medium;
    color: red;
    margin-left: 40px;
    margin-top: 15px;
  }
  .p-explicacao{ 
    font-size: large;
    margin-left: 40px;
    margin-top: 15px;
  }
  .lista-item{ 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  }
    .lista-item:hover{ 
      background-color: rgb(218, 243, 255);
    }
  .lista-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

  }

  .Card-right-nav-bar .list-group-item {
    transition: background-color 0.3s;
}

.Card-right-nav-bar .list-group-item:hover {
    background-color: rgb(233, 235, 255); 
}

.Card-extras{
  padding: 30px;
  border: 1px black solid;
  width: 80%;
  margin: 0 10px;
}

.Card-extras:hover{
  background-color: rgb(233, 235, 255); 
}
.frases-comuns-h3{
  font-weight: 300;

}
.h4-Texto-audio {
  margin-top: 40px;
}

.dropdownVocab{
  background-color: rgb(0, 170, 255);
  border: none;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.dropdownVocab:hover{
  background-color: rgb(0, 170, 255);
  border: none;
}

.dropdownVocab:focus,
.dropdownVocab:active,
.show .dropdownVocab {
  background-color: rgb(0, 170, 255);
    box-shadow: none !important; 
}